.newExpense {
  margin-bottom: 1rem;
  padding: 1rem;
}

.newExpense h3 {
  margin-top: 0;
}

.newExpense form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newExpenseControl {
  width: 48%;
  flex-basis: 48%;
  margin-bottom: 1rem;
}

.newExpenseControl .newExpenseInput {
  width: 100%;
}

.newExpense .actions {
	margin: 1.5rem 0;
    text-align: right;
    width: 100%;
}

@media (max-width: 768px) {
  .newExpense {
    padding: 1rem;
  }

  .newExpenseControl {
    width: 100%;
    flex-basis: 100%;
  }
}
