.userStats {
	width: 100%;
	padding: 1rem;
    margin-bottom: 1rem;
}

.userStats h1 {
	text-align: center;
	color: var(--color-foreground);
}

.userStats .labelProgress {
    text-align: center;
    display: block;
    font-weight: 600;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.modalActions button {
    margin-left: 20px;
}

.buttonViewExpensesContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}