.userStats {
	width: 100%;
	background-color: white;
	padding: 1rem;
	color: var(--color-foreground);
    margin-top: 2rem;
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 29%);
}

.userStats h1 {
	text-align: center;
	color: var(--color-foreground);
}

.userStats .labelProgress {
    text-align: center;
    display: block;
    font-weight: 600;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.modalActions button {
    margin-left: 20px;
}

.buttonViewExpensesContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}