.user {
	width: 100%;
	background-color: white;
	padding: 1rem 1rem 0 1rem;
	color: var(--color-foreground);
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 29%);
    margin-bottom: 1rem;
}

.user h1 {
	text-align: center;
	color: var(--color-foreground);
}

.user form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userEditControl {
	margin-bottom: 0.5rem;
    width: 48%;
    flex-basis: 48%;
}

.passwordFormControl {
    width: 100%;
    margin: 1rem 0;
}

.userEditControl p {
	font-size: 0.85rem;
	width: 100%;
    text-align: left;
}

.actions {
	margin: 1.5rem 0;
    text-align: right;
    width: 100%;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.modalActions button {
    margin-left:  10px;
}

.progressBudgetContainer {
    display: block;
    margin-top: 1rem;
    position: relative;
    width: 100%;
}

.progressBudgetContainer p {
    display: block;
    color: var(--color-foreground);
    margin-bottom: 0.5rem;
}
