.budgetToday, .budgetRemaining {
    font-size: 2rem;
}

.budgetToday {
    color: var(--color-success);
}

.budgetRemaining {
    color: var(--color-primary);
}

.stack {
    margin-bottom: 1rem;
    padding: 1rem;
}