.logoLink {
  text-decoration: none;
  cursor: pointer;
}

.logoLink svg {
  width: 40px;
  fill: white;
}

.profileLink svg {
  fill: white;
}

@media (max-width: 900px) {
  .logoLink {
    margin-left: -20px;
  }
}
